* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  width: 100%;
  font-size: $default-font-size;
  color: $default-font-color;
  text-align: center;
}

#nav-bar {
  position: fixed;
  z-index: 1000;
  padding: 30px;
  background-color: $nav-bar-color;
  width: 100%;
  font-size: 20px;
  font-weight: 500px;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar-list {
    list-style: none;
    position: absolute;
    top: 95%;
    text-align: left;
    padding: 0 30px;
    left: 0;
    background-color: $nav-bar-color;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;

    .menu-item {
      margin-bottom: 30px;
      opacity: 0;
      transition: opacity 100ms ease-in-out;
    }
  }

  .menu-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    padding: 0px 20px;
    transition: color 0.3s ease 0s;
    cursor: pointer;
  }

  .menu-link:hover {
    color: #0088a9;
  }

  .nav-toggle {
    display: none;
  }
  .nav-toggle:checked ~ ul {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ .nav-toggle-label {
    background-color: $menu-color;
  }

  .nav-toggle:checked ~ ul li {
    opacity: 1;
    transition: opacity 150ms ease-in-out 250ms;
  }

  .nav-toggle-label {
    padding: 10px 15px;
    border-radius: 10%;
  }

  .portfolio {
    padding-right: auto;
  }
}

.star-icon {
  margin: 0 auto;
  padding-right: 225px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 20px;

  .fa-grip-lines {
    transform: scale(8, 1);
  }
  .fa-star {
    padding: 0 80px;
  }
}

.about-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $primary-color;

  .avatar-container {
    padding: 100px;
    padding-top: 130px;
    font-size: 60px;

    .job {
      margin-top: 20px;
      font-size: 20px;
    }

    .avatar {
      display: block;
      width: 300px;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  .about {
    padding: 100px 0px;

    .about-text {
      margin: 30px auto;
      display: flex;
      justify-content: left;
      width: 600px;

      .about-block {
        padding: 0 10px;

        .about-paragraph {
          font-size: 20px;
          color: #010708;
          text-align: left;

          span {
            font-size: 22px;
            color: #ccecf1;
          }
        }
      }
    }
  }
}

.projects-section {
  padding: 100px 10px;
  background-color: $secondary-color;

  .title {
    color: $primary-color;
  }

  .star-icon {
    color: $primary-color;
  }

  .project-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;

    .project {
      margin: 10px;
      position: relative;

      .prject-img {
        border-radius: 5%;
        display: block;
        margin: 0 auto;
        width: 365px;
      }

      .overlay {
        position: absolute;
        border-radius: 5%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s;
        background-color: rgb(2, 12, 34);
      }

      .project-text {
        color: #93d6e2;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        text-align: center;
        top: 45%;
      }
    }

    .project:hover .overlay {
      opacity: 0.7;
    }
  }
}

.footer {
  background-color: $nav-bar-color;
  padding: 20px 0;

  .title {
    font-size: 20px;
  }

  .web-icons {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin: auto;
    margin-top: 20px;

    .fab {
      font-size: 25px;
      color: white;
    }

    .fab:hover {
      color: black;
    }
  }
}
