<div id="nav-bar">
  <a class="menu-link portfolio" (click)="scrollTo('header')">Portfolio</a>
  <input type="checkbox" id="nav-toggle" class="nav-toggle" />
  <ul id="navbar-list" class="navbar-list">
    <li class="menu-item">
      <a class="menu-link" (click)="scrollTo('projects-setcion')">Projects</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" (click)="scrollTo('about-setcion')">About</a>
    </li>
  </ul>
  <label for="nav-toggle" class="nav-toggle-label">
    <span>Menu</span>
  </label>
</div>

<div id="about-section" class="about-section">
  <div id="avatar-container" class="avatar-container">
    <img class="avatar" src="assets/images/avatar.png" alt="avatar" />
    <p>Liubomyr Chahoub</p>
    <div class="star-icon">
      <i class="fas fa-grip-lines"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-grip-lines"></i>
    </div>
    <p class="job">.Net developer / Game developer</p>
  </div>

  <div id="about" class="about">
    <p class="title">About</p>
    <div class="star-icon">
      <i class="fas fa-grip-lines"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-grip-lines"></i>
    </div>
    <div class="about-text">
      <div class="about-block">
        <p class="about-paragraph">
          <span>Github:</span>
          https://github.com/Lubenem
        </p>
        <p class="about-paragraph">
          <span>Age:</span>
          22 years old
        </p>
        <p class="about-paragraph">
          <span>City:</span>
          Kamianets-Podilskyi (Ukraine)
        </p>
        <p class="about-paragraph">
          <span>Phone:</span>
          067 266-63-63
        </p>
        <p class="about-paragraph">
          <span>Email:</span>
          lubenemkrkm@gmail.com
        </p>
      </div>
      <div class="about-block">
        <p class="about-paragraph">
          <span>Experience:</span> Unity / c # developer from 09.2020 to 03.2021
          (6 months) Redpix, Ivano-Frankivsk (Game development)
        </p>
        <p class="about-paragraph">
          <span>Language knowledge:</span> Ukrainian ─ fluent, English ─
          intermediate
        </p>
        <p class="about-paragraph">
          <span>Additional Information:</span>
          https://www.linkedin.com/in/liubomyr-chahoub-769000209/
        </p>
      </div>
    </div>
  </div>
</div>

<div id="projects-section" class="projects-section">
  <p class="title">Projects</p>
  <div class="star-icon">
    <i class="fas fa-grip-lines"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-grip-lines"></i>
  </div>
  <div class="project-items">
    <a
      href="https://github.com/Lubenem/DungeonRPG"
      target="_blank"
      class="project"
    >
      <img
        class="prject-img"
        src="assets/images/dungeon_rpg.png"
        alt="DungeonRPG"
      />
      <div class="overlay">
        <p class="project-text">DungeonRPG</p>
      </div>
    </a>
    <a
      href="https://github.com/Lubenem/2dPixelRPG"
      target="_blank"
      class="project"
    >
      <img
        class="prject-img"
        src="assets/images/2d_pixel_rpg.png"
        alt="2DPixelRPG"
      />
      <div class="overlay">
        <p class="project-text">2DPixelRPG</p>
      </div>
    </a>
    <a
      href="https://github.com/Lubenem/ArcheroLike"
      target="_blank"
      class="project"
    >
      <img
        class="prject-img"
        src="assets/images/archero_like.png"
        alt="ArcheroLike"
      />
      <div class="overlay">
        <p class="project-text">ArcheroLike</p>
      </div>
    </a>
    <a
      href="https://github.com/Lubenem/ThirdPersonRPG"
      target="_blank"
      class="project"
    >
      <img
        class="prject-img"
        src="assets/images/third_person_rpg.png"
        alt="ThirdPersonRPG"
      />
      <div class="overlay">
        <p class="project-text">ThirdPersonRPG</p>
      </div>
    </a>
    <a
      href="https://github.com/Lubenem/Surfer3D"
      target="_blank"
      class="project"
    >
      <img
        class="prject-img"
        src="assets/images/surfer_3d.png"
        alt="Surfer3D"
      />
      <div class="overlay">
        <p class="project-text">Surfer3D</p>
      </div>
    </a>
    <a
      href="https://github.com/Lubenem/Sphere3D"
      target="_blank"
      class="project"
    >
      <img
        class="prject-img"
        src="assets/images/sphere_3d.png"
        alt="Sphere3D"
      />
      <div class="overlay">
        <p class="project-text">Sphere3D</p>
      </div>
    </a>
  </div>
</div>

<footer id="footer" class="footer">
  <p class="title">AROUND THE WEB</p>
  <div class="web-icons">
    <a href="https://github.com/Lubenem" target="_blank" class="web-link">
      <i class="fab fa-github"></i>
    </a>

    <a
      href="https://www.linkedin.com/in/liubomyr-chahoub-769000209"
      target="_blank"
      class="web-link"
    >
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://www.twitch.tv/lubenem" target="_blank" class="web-link">
      <i class="fab fa-twitch"></i>
    </a>

    <a
      href="https://discord.com/users/412621214796873733"
      target="_blank"
      class="web-link"
    >
      <i class="fab fa-discord"></i>
    </a>
  </div>
</footer>
