$color1: rgb(44, 62, 83);
$color2: rgb(224, 221, 208);

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(8, 11, 24);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  width: 100%;
  font-size: 50px;
  color: #edf0f1;
  text-align: center;
}

.nav_bar {
  position: fixed;
  z-index: 1000;
  padding: 30px 100px;
  background-color: #24252a;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;

  a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    padding: 0px 20px;
    transition: color 0.3s ease 0s;
  }

  a:hover {
    color: #0088a9;
  }

  .portfolio {
    margin-right: auto;
  }
}

#header {
  padding: 100px;
  padding-top: 130px;
  background-color: $color1;
  font-size: 60px;

  .job {
    margin-top: 20px;
    font-size: 20px;
  }

  img {
    display: block;
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
  }
}

#projects {
  padding: 100px;
  background-color: $color2;

  .title {
    color: $color1;
  }

  .project_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    .project {
      margin: 10px;

      position: relative;

      img {
        border-radius: 5%;
        display: block;
        margin: 0 auto;
      }

      .overlay {
        position: absolute;
        border-radius: 5%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.3s;
        background-color: rgb(2, 12, 34);
      }

      p {
        color: #93d6e2;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: absolute;
        text-align: center;
        top: 50%;
      }
    }

    .project:hover .overlay {
      opacity: 0.7;
    }
  }
}

#about {
  padding: 100px;
  background-color: $color1;

  .aboutText {
    margin-left: 20%;

    p {
      width: 100%;
      font-size: 30px;
      color: #010708;
      text-align: left;
    }

    p span {
      font-size: 32px;
      color: #ccecf1;
    }
  }
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
