@media screen and (max-width: 660px) {
  #header {
    padding: 150px 30px;

    .avatar {
      width: 50%;
    }
  }

  #about {
    padding: 100px 30px;
    width: auto;
    .about-text {
      flex-wrap: wrap;
    }
  }

  #contact {
    padding: 100px 30px;
  }
}

@media screen and (max-width: 472px) {
  #projects {
    img {
      width: 90%;
    }
    .overlay {
      margin-left: 5%;
      width: 90%;
    }

    p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 360px) {
  #about {
    .about-text {
      width: auto;
    }
  }
}

@media screen and (min-width: 800px) {
  #nav-bar {
    padding: 30px 100px 30px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;

    #list {
      margin-left: 360px;
      padding: 0;
      width: auto;
      position: static;
      display: flex;
      flex-wrap: nowrap;
      transform: scale(1, 1);

      li {
        opacity: 1;
        margin: 0;
      }
    }

    .nav-toggle-label {
      display: none;
    }
  }
}

@media screen and (min-width: 1175px) {
  #nav-bar {
    #list {
      margin-left: 750px;
    }
  }
}

@media screen and (min-width: 1334px) {
  #projects {
    .project-items {
      width: 1200px;
    }
  }

  #contact {
    form {
      width: 986px;
    }
  }
}
