$default-font-color: #edf0f1;
$default-font-size: 50px;
$body-color: rgb(8, 11, 24);
$nav-bar-color: #24252a;
$menu-color: #f44336;
$primary-color: rgb(44, 62, 83);
$secondary-color: rgb(224, 221, 208);
